[submodule "Source/Resources"]
	path = Source/Resources
	url = https://github.com/smt005/CMakeProject_Resources.git
[submodule "Source/Engine"]
	path = Source/Engine
	url = https://github.com/smt005/CMakeProject_Engine.git
