[submodule "Source/Resources"]
	path = Source/Resources
	url = https://github.com/smt005/CMakeProject_Resources.git
[submodule "Source/Engine"]
	path = Source/Engine
	url = https://github.com/smt005/CMakeProject_Engine.git
[submodule "Source/Game"]
	path = Source/Game
	url = https://github.com/smt005/CMakeProject_Game.git
[submodule "Source/Brain"]
	path = Source/Brain
	url = https://github.com/smt005/CMakeProject_Brain
[submodule "Source/GUI"]
	path = Source/GUI
	url = https://github.com/smt005/CMakeProject_GUI
